*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.minnak{
    border-radius: 50%;
    border: 1px solid black;
     width: 40px;
     height: 40px;
     margin-left: 20px;
     margin-top: 165px;
     background-color: darkcyan;
     transition: 3s;
     position: absolute;
}
.area{
    width: 70%;
    margin: 0 15%;
    border: 1px solid black;
    height: 400px;
    margin-top: 90px;
}
.padding{
    padding: 20px;
    display: flex;


}
.control{
    background-color: rgb(107, 90, 90);
    width: 600px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    transform: translateX(190px) translateY(-30px);
    
}
.brradius{
    border-radius: 50%;
}
.color{
    background-color:black;
    color:white;
}
.pb{
padding: 8px;
}
.input{
    width: 800px;
    height: 50px;
    background-color: antiquewhite;
    margin-left: 20px;
}